{% extends 'layout/app_base.html' %}

{% block body_class %}role-recepcion{% endblock %}
{% block role_label %}Recepción{% endblock %}

{% block nav_items %}
<a class="app-nav-link" href="#"><i class="bi bi-qr-code-scan"></i> Escanear QR</a>
<a class="app-nav-link" href="#"><i class="bi bi-clock-history"></i> Check-ins de hoy</a>
<a class="app-nav-link" href="#"><i class="bi bi-person-plus"></i> Registrar cliente</a>
<a class="app-nav-link" href="#"><i class="bi bi-search"></i> Buscar socio</a>
{% endblock %}
