{% extends 'layout/app_base.html' %}

{% block body_class %}role-cliente{% endblock %}
{% block role_label %}Cliente{% endblock %}

{% block nav_items %}
<a class="app-nav-link" href="#"><i class="bi bi-speedometer2"></i> Mi dashboard</a>
<a class="app-nav-link" href="#"><i class="bi bi-qr-code"></i> Mi QR</a>
<a class="app-nav-link" href="#"><i class="bi bi-calendar3"></i> Mi rutina</a>
<a class="app-nav-link" href="#"><i class="bi bi-heart-pulse"></i> Cardio</a>
<a class="app-nav-link" href="#"><i class="bi bi-card-list"></i> Mi plan</a>
{% endblock %}
